.container-h.flex.position-re > .flex a:hover {
    border-bottom: 1px solid var(--red-org);
}
.nav-tab .border-none:focus {
    background-color: #FDE9DE;
    color: var(--red-org);
}
.slider-next:hover, .slider-prev:hover {
    color: var(--red-org);
}
