@media screen and (min-width: 1201px) {
    
}
@media screen and (min-width: 1025px) and (max-width: 1200px){

}
@media screen and (min-width: 961px) and (max-width: 1024px) {
    .lightbox-content img {
        object-fit: cover;
        width: 600px;
        border-radius: 1rem;
    }
    .slider img {
        width: 100%;
    }
    .card-body {
        width: 185%;    
    }
    .img-banner {
        align-items: center;
        width: 50%; 
        justify-content: end;
    }
} 
@media screen and (min-width: 481px) and (max-width: 960px)  {
    .fl-icon span {
        display: none;
    }
    h3 {
        font-size: 15px;
    }
    .time-out-base>p {
        font-size: 15px;
    }
    .time-out-base {
        margin: 10px 0;
        background-color: var(--al-org);
        width: 90%;
        height: 40px;
    }
    #sec1 {
        height: 460px;
    }
    .card-body {
        width: 100%;
    }
    .text-center {
        width: 56%;
        padding: 4rem 0 0;
    }
    .container-1 {
        padding: 0;
        flex-direction: row-reverse;
        justify-content: left;
        height: 460px;
    }
    .container-s2 {
        padding: 0;
    }
    .detials-dis {
        font-size: 30px;
    }
    .detials-dis span {
        font-size: 30px;
    }
    .title-dis, #Popular-Items {
        font-size: 30px;
        padding: 0;
        padding-top: 20px;
    }
    .img-banner {
        align-items: center;
        width: 40%;
    }
    .img-banner img {
        margin-top: 10px;
    }
    .img-banner img:hover {
        transform: translateY(-5rem);
        transition: transform 1s ease;
    }
    .item-dis img {
        border-radius: 1rem;
        width: 90%;
    }
    .text-h1 {
        font-size: 48px;
        line-height: 64px;
    }
    .text-h2 {
        font-size: 20px;
    }
    .nav-tab {
        justify-content: center;
        margin: 0 24px;
    }
    .form-b-start {
        margin: 0 24px;
    }
    .lightbox-content img {
        width: 600px;
    }
    .lightbox-content i {
        font-size: 4rem;
    }
    .dis-banner {
        border-radius: 0 1.2rem 0 .8rem;
        background-color: #FFB30E;
        height: 4rem;
        width: 4rem;
        bottom: 0;
        margin-left: 4px;
        text-align: center;

    }
    .sec3 {
        margin: 0 20px 0 20px;
        padding: 0 0 20px 0;
    }
    h2.mgbt-64 {
        color: var(--red-org);
        font-size: 30px;
        margin: 10px;
    }


    #sec5 {
        margin: 0 2vw;
        height: 140vh;
        user-select: none;
    }
    .featuredItems {
        width: calc(100%/3);
    }
    .open-now, .open-tomorrow {
        width: 100%;
    }
    .ftr-btn-view {
        padding: 10px;
        font-size: 1.5rem;
        margin: 0;
        transform: translate(50%, 130%);
    }
    .slider {
        padding: 0;
    }
    .slider img {
        width: 100%;
    }

    .popular-inf .btn {
        padding: 1vh 4vw;
    }
    .container-h {
        justify-content: space-between;
        padding: 0 10%;
    }
    .checkbtn {
        display: block;
    }
    ul.menu-header {
        top: 80px;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: all .2s;
        background: #2c3e40;
        text-align: center;
    }
    .flex>li>a {
        color: white;
        display: block;
    }
    .container-h.flex.position-re > .flex a:hover {
        font-size: 26px;
        color: var(--red-org);
        background-color: white;
    }
    ul.menu-header li {
        padding: 0;
        font-size: 24px;
    }
    #Featured-Restaurants {
        padding: 8vh 0 2vh;
    }
    .Install-the-app > img {
        display: none;
    }
    .card-download {
        width: 90%;
        padding: 10px;
    }
    .card-download img {
        padding: 0;
    }
    .download-text {
        padding: 1.5rem 10vw;
    }
    .download-text .flex {
        padding: 1vh 0;
        justify-content: start;
    }
    .download-text p {
        font-size: 1rem;
    }
    .download-text img {
        width: 20vw;
    }
    .card-download-banner {
        flex-direction: column;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    #header, .header {
        height: 60px;
    }
    .container-h {
        font-size: 20px;
        line-height: 60px;
    }
    ul.menu-header li {
        padding: 0;
    }
    .flex>li>a {
        color: white;
        display: block;
    }
    .container-h.flex.position-re > .flex a:hover {
        font-size: 24px;
        color: var(--red-org);
        background-color: white;
    }
    .logo-page {
        margin-top: 8px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .checkbtn {
        display: block;
    }
    .slider-item {
        padding: 0 5%;
    }
    .slider-item img {
        width: 90vw;
    }
    .slider-dot {
        bottom: 0;
    }
    .slider-next, .slider-prev {
        font-size: 50px;  
    }
    .slider-prev {
        left: 0;
    }
    .slider-next {
        right: 0;
    }
    .lightbox-content img {
        object-fit: cover;
        width: 80%;
        border-radius: .5rem;
    }
    ul.menu-header {
        top: 60px;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: all .2s;
        background: #2c3e40;
        text-align: center;
    }
    div .text-center {
        width: 100%;
        padding: 0 2rem;
    }
    .container-1 {
        display: flex;
        flex-wrap: wrap-reverse;
        height: 1000px;
    }
    .btn {
        position: relative;
        right: 0;
        margin-top: 1rem;
        margin-left: 0;
    }
    #sec1 {
        height: 1020px;
    }
    .ti-location-pin {
        top: 35px;
    }
    .form-b-start {
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }
    .form-b-start > input {
        width: 74%;
    }
    .ti-location-pin {
        left: 20px;
    }
    #Daily-Discount {
        font-size: 3.5rem;
        color: var(--red-org);
    }
    .main-discount {
        flex-wrap: wrap;
    }
    .title-dis {
        font-size: 30px;
        padding-top: 10px;
    }
    .dis-banner {
        border-radius: 0 1.2rem 0 .8rem;
        background-color: #FFB30E;
        height: 15vh;
        width: 30vw;
    }
    .item-dis img {
        width: 100%;
    }
    .time-out-base>p {
        font-size: 2rem;
    }
    .time-out-base {
        width: 100%;
    }
    .info-dis {
        padding-top: 1rem;
    }
    .info-dis h3 {
        font-size: 2rem;
    }
    .detials-dis {
        font-size: 5rem;
    }
    .sec3-f {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec3 {
        padding: 0;
        margin: 0;
    }
    h2.mgbt-64 {
        font-size: 3.5rem;
    }
    .text-align.pdrl-16 {
        width: 50%;
        font-size: 1.5rem;
    }
    .text-align.pdrl-16 img {
        width: 6rem;
    }
    .decr-s3 {
        font-size: 2rem;
        padding: 0;
    }
    .text-align.pdrl-16.end-secf3 img {
        padding: 8px 0;
        width: 8rem;
    }
    #Popular-Items, #Featured-Restaurants {
        font-size: 3.5rem;
        text-align: center;
        padding: 20px;
    }
    .popular-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .popular-inf {
        width: 100%;
    }
    .popular-inf img {
        width: 90vw;
        border-radius: 1rem;
        padding: 0;
    }
    .card-body-content h3 {
        font-size: 2rem;
    }
    .card-body-content .orange-yl {
        font-size: 1.5rem;
    }

    #sec5 {
        height: 180vh;
    }

    .featuredItems {
        width: 50%;
    }
    .open-now, .open-tomorrow {
        width: 100%;
    }
    .ftr-btn-view {
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        font-size: 1.5rem;
    }


    .bg-download {
        padding-top: 70vh;
        margin-bottom: 0;
        height: 200vw;
    }
    .card-download {
        flex-direction: column;
        width: 90%;
    }
    .card-download img {
        padding: 1vh;
    }
    .Install-the-app {
        width: auto;
    }
    .Install-the-app > img {
        display: none;
    }
    .download-text {
        padding: 0;
        position: relative;
        bottom: 32px;
    }
    .download-text p {
        font-size: 1.4rem;
    }
    .download-text img {
        width: 40vw;
    }
    .semi-footer-img img {
        display: none;
    }
    .semi-footer-img {
        width: 100vw;
        height: 50vh;
        background-color: var(--orange-yl);
    }
    .semi-footer-img h2 {
        width: 100%;
        font-size: 2.5rem;
    }
    .semi-footer-img h2 a {
        font-size: 1.3rem;
    }


    #footer {
        padding: 40px 5% 0;
    }
    #footer > .flex {
        flex-wrap: wrap;
    }
    .fl-icon {
        display: flex;
        flex-direction: column;
    }
    #footer > .flex {
        justify-content: center;
    }
    .box-footer {
        width: 40%;
        padding: 0;
    }
    .box-footer ul {
        padding-top: 8px;
    }
    .follow-us >
    #follow-usId, h5 {
        display: none;
    }
    .ti-facebook, .ti-twitter-alt {
        margin: 100px 0;
        padding: 0;
    }
    .f-end > .flex {
        flex-direction: column;
        align-items: center;
    }
    .f-end {
        height: 8rem;
    }
    

}