* {
    margin: 0;
}
.slider {
    margin: 20px 0;
}
.slider-item img {
    width: 80vw;
    border-radius: 1rem;
    user-select: none;
}
.slider-wrap {
    width: 100%;
    overflow: hidden;
}
.slider-main {
    transition: .5s;
}
.slider-item {
    flex: 1 0 100vw;
    padding: 0 10vw;
}
.slider-dot {
    transform: translateX(-50%);
    left: 50%;
    bottom: 24px;
    z-index: 1;
}
.slider-dot-item i {
    color: var(--red-org);
    cursor: pointer;
}
.slider-next {
    right: 7%;
}
.slider-prev {
    left: 7%;
}
.slider-next, .slider-prev {
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}